:root {
    --font-ui: "Noto Sans JP", -apple-system, BlinkMacSystemFont, Segoe UI,
        Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
        sans-serif;
    --background: #eeeeee;
    --article-background: #ffffff;
}