.articles {
    display: flex !important;
    flex-wrap: wrap;
    /* justify-content: center; */
    padding: 0 2rem;
}

.article_card {
    border: 0.1rem solid #d1d5da;
    border-radius: 0.3rem;
    margin: 1rem 1rem;
    padding: 1rem 1.5rem;
    width: 45%;
    height: 12rem;
    text-align: center;
}
