.blogPostContainer {
    display: block;
    margin: 0 auto;
    max-width: 760px;
    padding: 3rem 0;
}

.date {
    text-align: right;
    opacity: 0.7;
}

.blogPost h2 {
    margin: 1.5rem 0;
    border-bottom: 0.1rem solid #2cad27;
}

.blogPost h3 {
    margin-left: 1rem;
}

.blogPost p {
    margin-left: 3rem;
}

.blogPost pre {
    margin-left: 3rem;
}

.blogPost ul {
    margin-left: 4rem;
}

@media screen and (max-width: 760px) {
    .blogPostContainer {
        display: block;
        margin: 0 auto;
        max-width: 80%;
        padding: 3rem 0;
    }
}
