.container {
    /* background-color: #4e8ce0; */
    padding: 3rem 0rem;
    width: auto;
}

.section_name {
    text-align: center;
    text-decoration: underline #2cad27;
    font-size: 4rem;
}

.cards {
    display: flex !important;
    flex-wrap: wrap;
    margin: 0 10%;
}

.card {
    background-color: white;
    border: 0.1rem solid #d1d5da;
    border-radius: 0.4rem;
    margin: 1rem 5%;
    padding: 1rem 1.5rem;
    width: 40%;
    height: 12rem;
    text-align: center;
}

.title {
    margin-bottom: 0.2rem;
    text-decoration: none;
    color: #323232;
}

.tags {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0.5rem;
}

.tag {
    font-family: monospace;
    margin: 0 0.3rem;
    padding: 0.2rem;
    /* background-color: #49e244; */
    border: 0.1rem solid #2cad27;
    border-radius: 0.2rem;
}

.date {
    color: rgba(0, 0, 0, 0.4);
}
