.section {
    padding: 1rem;
    width: 100%;
    margin: 2rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.articles {
    display: flex !important;
    flex-wrap: wrap;
    /* justify-content: center; */
    padding: 0 2rem;
}

.article {
    overflow: hidden;
    border-top: 0.1rem solid white;
    padding: 1.5rem;
    width: 100%;
}

.article:hover {
    /* box-shadow: 0 0.5rem rgb(105 105 105 / 30%); */
    background-color: #3c3a42;
    transition: 0.2s;
}

.date {
    text-align: right;
}
